.superInput {
    border-radius: 20px;
    margin: 15px;
    height: 10px;
    font-size: 13px;
    padding: 5px 0 4px 10px;
    border: 2px solid #000000;
    background: palevioletred;
}


.errorInput {
    height: 10px;
    font-size: 13px;
    padding: 5px 0 4px 10px;
    border: 2px solid #000000;
    border-radius: 20px;
    background: #ffffff;

}

.error {
    color: #ff0000;
   font-size: 15px;
}