.profileDataWrapper {
    box-sizing: border-box;
    height: 216px;
    background: #D9D9F1;
    border-top-left-radius: 8px;
    position: relative;
    padding: 24px 59px 44px 60px;
}

.profileDataWrapper .logout {
    cursor: pointer;
    position: relative;
    top: 5px;
    right: -105px;
}

.profileDataWrapper .logout img {
    width: 20px;
    height: 24px;
}